{#
  Title: Banner
  Description: Banner block
  Category: RD-blocks
  Icon: money
  Keywords: banner
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="rd-block rd-banner rd-banner-home">
  <div class="rd-banner-bg">
    {% if fields.background %}
      <img src="{{ fields.background.url }}" alt="{{ fields.background.alt }}" class="rd-banner-bg__image rd-responsive">
    {% endif %}
  </div>
  <div class="rd-container rd-banner-wrapper">
    <div class="rd-banner-content">
      <div class="w-full lg:w-1/2 mb-10 lg:mb-0">
        {% if fields.subtitle %}
          <span class="rd-banner__tag">{{ fields.subtitle }}</span>
        {% endif %}
        {% if fields.title %}
          <h1 class="rd-banner__title">{{ fields.title }}</h1>
        {% endif %}
        {% if fields.description %}
          <p class="rd-banner__text">{{ fields.description }}</p>
        {% endif %}
        {% if fields.button %}
          <div class="w-full text-center  lg:text-left">
            <a href="{{ fields.button.url }}" target="{{ fields.button.target }}" class="rd-banner__button btn btn-primary">{{ fields.button.title }}</a>
          </div>
        {% endif %}
      </div>

      {% if fields.shortcode %}
        <div class="rd-form-main w-full lg:w-1/3">
          {% if fields.form_title %}
            <p class="rd-form__title text-center">{{ fields.form_title }}</p>
          {% endif %}
          {% if fields.reviews_rating %}
            {{fn('do_shortcode', fields.reviews_rating|striptags)}}
          {% endif %}
          {{fn('do_shortcode', fields.shortcode|striptags)}}
        </div>
      {% endif %}
    </div>

    {% if fields.tags %}
      <div class="rd-banner-tag">
        {% for item in fields.tags %}
        <div class="rd-banner-tag-item">
          {% if item.icon %}
            <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" class="injectable rd-banner-tag__icon">
          {% endif %}
          {% if item.title %}
            <span class="rd-banner-tag__text">{{ item.title }}</span>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>