{#
  Title: Card
  Description: Card Block
  Category: RD-blocks
  Icon: money
  Keywords: card
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="rd-block rd-spacing rd-card bg-white">
  <div class="rd-container">
    <!-- Heading -->
    <div class="rd-card-heading">
      {% if fields.title %}
        <h2 class="rd-card__title">{{ fields.title }}</h2>
      {% endif %}
      {% if fields.description %}
        <span class="rd-card__text">{{ fields.description }}</span>
      {% endif %}
    </div>
    <!-- Heading End -->
    {% set is_materials_page = 1684 %}
    {% if is_materials_page == current_post_id and user_logged_in %}
      {# posts #}
      {% set posts = {'post_type': 'documents', 'numberposts': '-1'} %}
      <div class="rd-card-main">
        {% for post in fn('get_posts', posts ) %}
          {% set link = fn('get_permalink', post.ID) %}
          {% set thumbnail_url = fn('get_the_post_thumbnail_url', post.ID ) %}
          <!-- Cards -->
          {% set subscription_plan_id = fn('get_field', 'pms-content-restrict-subscription-plan', post.ID) %}

          {% if subscription_plan_id == membership_plan and membership_status == 'active' %}
            <a href="{{ link }}" class="rd-card-item" target="_self">
              <div class="rd-card-item-wrapper">
                {% if thumbnail_url %}
                  <div class="rd-card-item-icon">
                    <img src="{{ thumbnail_url }}" alt="{{ post.post_title }}" class="rd-card-item__icon">
                  </div>
                {% endif %}
                {% if post.post_title %}
                  <span class="rd-card-item__title">{{ post.post_title }}</span>
                {% endif %}
                {% if post.post_excerpt %}
                <p class="rd-card-item__text">{{ post.post_excerpt }}</p>
                {% endif %}
                <span class="btn btn-secondary rd-card-item__button">View Documents</span>
              </div>
            </a>
          {% endif %}
          <!-- Cards End -->
        {% endfor %}
      </div>
    {% else %}
      <!-- Cards -->
      {% if fields.cards %}
        <div class="rd-card-main">
          {% for item in fields.cards %}
            <a href="{{ item.button.url }}" class="rd-card-item" target="{{ items.button.target }}">
              <div class="rd-card-item-wrapper">
                {% if item.icon %}
                  <div class="rd-card-item-icon">
                    <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" class="rd-card-item__icon">
                  </div>
                {% endif %}
                {% if item.title %}
                  <span class="rd-card-item__title">{{ item.title }}</span>
                {% endif %}
                {% if item.description %}
                  <p class="rd-card-item__text">{{ item.description }}</p>
                {% endif %}
                {% if item.button %}
                  <span class="btn btn-secondary rd-card-item__button">{{ item.button.title }}</span>
                {% endif %}
              </div>
            </a>
          {% endfor %}
        </div>
      {% endif %}
      <!-- Cards End -->
    {% endif %}
    <!-- Tags -->
    {% if fields.tags %}
      <div class="rd-card-tag">
        {% for item in fields.tags %}
          <span class="rd-card-tag__text">{{ item.tag }}</span>
        {% endfor %}
      </div>
    {% endif %}
    <!-- Tags End -->
    <!-- Button -->
    {% if fields.button %}
      <div class="rd-card-btn">
        <a class="btn btn-primary" href="{{ fields.button.url }}" target="{{ fields.button.target }}">{{ fields.button.title }}</a>
      </div>
    {% endif %}
    <!-- Button End -->
  </div>
</section>