{#
  Title: Material
  Description: Material block
  Category: RD-blocks
  Icon: video
  Keywords: team
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="rd-block rd-spacing rd-material">
  <div class="rd-container rd-material-container">
    <!-- Loop to documents -->
    {% set document = fields.documents[0] %}
    <!-- Main -->
    <div class="rd-material-main">
      <!-- Heading -->
      {% if document.document_title %}
        <h2 class="rd-material__title">{{ document.document_title }}</h2>
      {% endif %}
      <!-- Heading -->
      <!-- Video -->
      <div class="rd-material-video">
        {% if document.video_link %}
          <div class="rd-material-video-wrapper">
            {% set url = document.video_link %}
            
            {# YouTube Video #}
            {% if 'youtube.com' in url or 'youtu.be' in url %}
              {% if 'youtu.be' in url %}
                {% set video_id = url|split('youtu.be/')|last|split('?')|first %}
              {% else %}
                {% set video_id = url|split('v=')|last|split('&')|first %}
              {% endif %}
              <iframe width="100%" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            {# Vimeo Video #}
            {% elseif 'vimeo.com' in url %}
              {% set video_id = url|split('vimeo.com/')|last|split('?')|first %}
              <iframe src="https://player.vimeo.com/video/{{ video_id }}" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            
            {# Direct embed URL #}
            {% else %}
              <iframe width="100%" src="{{ url }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <!-- Video -->
      <!-- Button -->
      {% if document.form_link %}
        <a href="{{ document.form_link.url }}" target="_blank" class="rd-material__button btn btn-primary">Fill out the Document</a>
      {% endif %}
      <!-- Button -->
      <!-- Transcript -->
      {% if document.video_transcript %}
        <span class="rd-material-transcript__label">Video Transcript</span>
        <div class="rd-material-transcript">
          {{ document.video_transcript }}
        </div>
      {% endif %}
    </div>
    <!-- Main -->
    <!-- Sidebar -->
    <div class="rd-material-sidebar">
      <span class="rd-material-sidebar__heading">Documents Navigation</span>
      {% if fields.documents %}
        <div class="rd-material-sidebar-nav">
          {% for item in fields.documents %}
            <a
              href=""
              class="rd-material-document__link"
              target="_blank"
              rel="noopener noreferrer"
              formlink="{{ item.form_link.url }}"
              videotitle="{{ item.document_title }}"
              videolink="{{ item.video_link }}"
              videotranscript="{{ item.video_transcript }}"
            >
                <img src="{{ site.url }}/wp-content/themes/simplefamilylaw/images/icons/pdf-file.png" alt="PDF - {{ item.document_title }}" class="rd-material-document__icon">
                <span class="rd-material-document__title">{{ item.document_title }}</span>
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <!-- Sidebar -->
  </div>
</section>