{#
  Title: Inner Banner
  Description: Inner Banner block
  Category: RD-blocks
  Icon: money
  Keywords: banner
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="rd-block rd-spacing rd-banner rd-banner-inner">
  <div class="rd-banner-bg">
    {% if fields.background %}
      <img src="{{ fields.background.url }}" alt="{{ fields.background.alt }}" class="rd-banner-bg__image rd-responsive rd-grayscale">
    {% endif %}
  </div>
  <div class="rd-container rd-banner-wrapper">
    <div class="rd-banner-content">
      {% if fields.title %}
        <h1 class="rd-banner__title">{{ fields.title }}</h1>
      {% endif %}
      {% if fields.description %}
        <p class="rd-banner__text">{{ fields.description }}</p>
      {% endif %}
      {% set is_materials_page = 1684 %}
      {% if is_materials_page == current_post_id or fields.button or fields.button_two %}
        <div class="rd-banner-btn">
          {% if is_materials_page == current_post_id %}
            <!-- Special content for materials page -->
            {% if user_logged_in %}
              <a href="{{ logout_url }}" target="_self" class="rd-banner__button btn btn-primary">Logout</a>
            {% else %}
              <a href="/login/" target="_self" class="rd-banner__button btn btn-primary">Login</a>
              <a href="/registration/" target="_self" class="rd-banner__button btn btn-primary">Subscribe</a>
            {% endif %}
          {% else %}
            <!-- Default Post -->
            {% if fields.button %}
              <a href="{{ fields.button.url }}" target="{{ fields.button.target }}" class="rd-banner__button btn btn-primary">{{ fields.button.title }}</a>
            {% endif %}
            {% if fields.button_two %}
              <a href="{{ fields.button_two.url }}" target="{{ fields.button_two.target }}" class="rd-banner__button btn btn-primary">{{ fields.button_two.title }}</a>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</section>