{#
  Title: Media + Text
  Description: Media + Text block
  Category: RD-blocks
  Icon: money
  Keywords: mediatext
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

{% if fields.version == 'Default' %}
<section class="rd-block rd-spacing rd-media bg-grey relative">
  {% if fields.background_image %}
    <img src="{{ fields.background_image.url }}" alt="{{ fields.background_image.alt }}" class="w-full h-full absolute top-0 left-0 z-1" style="opacity:0.015">
  {% endif %}
  <div class="rd-container rd-media-wrapper relative z-2">
    <!-- Content -->
    <div class="rd-media-content">
      {% if fields.title %}
        <h2 class="rd-media__title text-center lg:text-left">{{ fields.title }}</h2>
      {% endif %}
      {% if fields.description %}
        <span class="rd-media__text text-center lg:text-left">{{ fields.description }}</span>
      {% endif %}
      {% if fields.content %}
        <div class="rd-media-main rd-content">
          {{ fields.content }}
        </div>
      {% endif %}
    </div>
    <!-- Content End -->
    <!-- Media -->
    <div class="rd-media-image">
      {% if fields.image %}
        <img src="{{ fields.image.url }}" alt="{{ fields.image.alt }}" class="rd-media__image">
      {% endif %}
    </div>
    <!-- Media End -->
  </div>
</section>
{% endif %}

{% if fields.version == 'Why Choose Us' %}
<section class="rd-block rd-media whychooseus flex flex-col lg:flex-row">
  <div class="w-full lg:w-1/3">
    <!-- Media -->
    <div class="rd-media-image">
      {% if fields.image %}
        <img src="{{ fields.image.url }}" alt="{{ fields.image.alt }}" class="rd-media__image">
      {% endif %}
    </div>
    <!-- Media End -->
  </div>
  <div class="w-full lg:w-2/3">
    <div class="rd-container rd-media-wrapper rd-spacing">
      <!-- Content -->
      <div class="rd-media-content">
        {% if fields.title %}
          <h2 class="rd-media__title text-center lg:text-left">{{ fields.title }}</h2>
        {% endif %}
        {% if fields.description %}
          <p class="rd-media__text text-center lg:text-left">{{ fields.description }}</p>
        {% endif %}
        {% if fields.content %}
          <div class="rd-media-main rd-content">
            {{ fields.content }}
          </div>
        {% endif %}
        {% if fields.points %}
          <div class="flex flex-wrap mt-10">
            {% for item in fields.points %}
              <div class="w-full lg:w-1/2 rd-media-content-points">
                <div class="flex rd-media-content-points-inner">
                  {% if item.icon %}
                    <div class="w-auto lg:w-1/3 rd-media-content-points-icon">
                      <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" class="rd-media-content-points__icon" style="min-width:40px">
                    </div>
                  {% endif %}
                  <div class="pl-2">
                    {% if item.title %}
                      <span class="rd-media-content-points__title">{{ item.title }}</span>
                    {% endif %}
                    {% if item.content %}
                      <div class="rd-media-content-points__text">{{ item.content }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% if fields.button %}
          <div class="rd-media-button-wrap">
            <a class="btn btn-primary" href="{{ fields.button.url }}" target="{{ fields.button.target }}">{{ fields.button.title }}</a>
          </div>
        {% endif %}
      </div>
      <!-- Content End -->
    </div>
  </div>
</section>
{% endif %}

{% if fields.version == 'Our Service Process' %}
<section class="rd-block rd-media osp flex flex-col lg:flex-row">
  <div class="w-full lg:w-1/3">
    <!-- Media -->
    <div class="rd-media-image">
      {% if fields.image %}
        <img src="{{ fields.image.url }}" alt="{{ fields.image.alt }}" class="rd-media__image">
      {% endif %}
    </div>
    <!-- Media End -->
  </div>
  <div class="w-full lg:w-2/3">
    <div class="rd-container rd-media-wrapper rd-spacing">
      <!-- Content -->
      <div class="rd-media-content">
        {% if fields.title %}
          <h2 class="rd-media__title text-center lg:text-left">{{ fields.title }}</h2>
        {% endif %}
        {% if fields.description %}
          <span class="rd-media__text text-center lg:text-left">{{ fields.description }}</span>
        {% endif %}
        {% if fields.content %}
          <div class="rd-media-main rd-content">
            {{ fields.content }}
          </div>
        {% endif %}
        {% if fields.points %}
          <div class="flex flex-wrap mt-10">
            {% for item in fields.points %}
              <div class="w-full rd-media-content-points">
                <div class="flex flex-col md:flex-row items-center rd-media-content-points-inner mb-8">
                  {% if item.icon %}
                    <div class="w-1/2 sm:w-1/3 md:w-1/4 rd-media-content-points-icon bg-grey flex flex-col justify-center items-center py-10 mb-4 md:mb-0">
                      <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" class="rd-media-content-points__icon">
                    </div>
                  {% endif %}
                  <div class="w-full md:w-3/4 pl-4 text-center md:text-left">
                    {% if item.title %}
                      <span class="rd-media-content-points__title">{{ item.title }}</span>
                    {% endif %}
                    {% if item.content %}
                      <p class="rd-media-content-points__text mb-0">{{ item.content }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% if fields.button %}
          <div class="rd-media-button-wrap text-center md:text-left">
            <a class="btn btn-primary" href="{{ fields.button.url }}" target="{{ fields.button.target }}">{{ fields.button.title }}</a>
          </div>
        {% endif %}
      </div>
      <!-- Content End -->
    </div>
  </div>
</section>
{% endif %}

{% if fields.version == 'Our Service Areas' %}
<section class="rd-block rd-spacing rd-media osa bg-grey relative">
  {% if fields.background_image %}
    <img src="{{ fields.background_image.url }}" alt="{{ fields.background_image.alt }}" class="w-full h-full absolute top-0 left-0 z-1" style="opacity:0.15">
  {% endif %}
  <div class="rd-container rd-media-wrapper relative z-2 items-center">
    <!-- Content -->
    <div class="rd-media-content">
      {% if fields.title %}
        <h2 class="rd-media__title text-center lg:text-left mb-8">{{ fields.title }}</h2>
      {% endif %}
      {% if fields.description %}
        <span class="rd-media__text text-center lg:text-left">{{ fields.description }}</span>
      {% endif %}
      {% if fields.content %}
        <div class="rd-media-main rd-content">
          {{ fields.content }}
        </div>
      {% endif %}
      {% if fields.areas %}
        <div class="flex flex-wrap">
          {% for item in fields.areas %}
            <div class="w-full lg:w-1/2 rd-media-content-points">
              <div class="flex rd-media-content-points-inner bg-white">
                {% if item.icon %}
                  <div class="rd-media-content-points-icon">
                    <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" class="rd-media-content-points__icon mr-2">
                  </div>
                {% endif %}
                {% if item.area %}
                  <a href="{{ item.area.url }}" target="{{ item.area.target }}" class="rd-media-content-points__title">{{ item.area.title }}</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if fields.button %}
        <div class="rd-media-button-wrap text-center lg:text-left">
          <a class="btn btn-primary" href="{{ fields.button.url }}" target="{{ fields.button.target }}">{{ fields.button.title }}</a>
        </div>
      {% endif %}
    </div>
    <!-- Content End -->
    <!-- Media -->
    <div class="rd-media-image">
      {% if fields.image %}
        <img src="{{ fields.image.url }}" alt="{{ fields.image.alt }}" class="rd-media__image">
      {% endif %}
    </div>
    <!-- Media End -->

  </div>
</section>
{% endif %}